*.out
*.pt
*.npy
*.pyc
*.csv
*.json
*.png
*.pt
*.pkl
*.safetensors
*.pth
*.md
*.txt
*.log
*.bin
*.fasta
results/data_analysis/blast/
results/data_analysis/data_analysis.py
*checkpoints/
datasets/
tmp/
try/
models/toxinpred2/
data_preperation/NeuroPep_dataset_creator.py
models/baselines/convolution_baseline/train_pretraiend_auc_margin.py